h1{
    padding-left: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F0D8CD;
    color: #000000;
    padding-top: 30px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    padding-right: 40px;
}

.footer {
    background: #e6f0fa;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}